body {
    background-color:#DB4939;
}

.cabecalho {
    font-size: 30px;
    padding:20px;
    text-align: left;
}

.cabecalho h1 {
    text-align: left;
}

h1 {
    text-align: center;
    color: #5C3733;
}

#quadro-negro {
  height: 400px;
  width: 100%;
}

p {
  color: black;
}

h2 {
    text-align: center;
}

strong {
    color:
}

span {
    color: blue;
}


.itens {
    color: white;
}

.horarios {
  display: inline-block;
  width: 49%;
  border: 4px dotted yellow;
}

.conteudos {
  display: inline-block;
  width: 49%;
  border: 4px dotted yellow;
  vertical-align: top;
}
