body {
    background-color:#DB4939;
}

h1 {
    text-align: center;
    color: #5C3733;
}

#quadro-negro {
  height: 400px;

}
p {
  color: black;
}
h2 {
    text-align: center;
}
strong {
    color:
}

span {
    color: blue;
}
